/* CSS Document */

p{
	font-family: Times New Roman, Times, serif;
	font-size: 14px;
	color: #660000;
	line-height: 18px;
	padding: 3px;
	font-style: oblique;
}
.bold {
	font-family: Times New Roman, Times, serif;
	font-size: 18px;
	line-height: 25px;
	font-weight: 200;
	color: #333333;
}
.bold2{
	font-family: Times New Roman, Times, serif;
	font-size: 12px;
	line-height: 25px;
	font-weight: 200;
	color: #333333;
}
.nnavigation {
	font-family: Verdana, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: lighter;
	color:  #333333;
	text-decoration: none;
	background-color: #CAFFCA;
	display: inline;
	padding: 8px;
	width: 140px;
	float: none;
	background-image: url(file:///C|/Users/NAS/Desktop/awebproperties.com/image/images/menuBG.jpg);
}
.nnavigation :hover {
	font-family: Verdana, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	color:  #FFFFFF;
	text-decoration: none;
	background-color: #D03D03;
	display: block;
	padding: 8px;
	width: 140px;
}






/******* hyperlink and anchor tag styles *******/

a:link, a:visited{
	color: #005FA9;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

/************** header tag styles **************/

h1{
 font: bold 120% Arial,sans-serif;
 color: #334d55;
 margin: 0px;
 padding: 0px;
}

h2{
 font: bold 114% Arial,sans-serif;
 color: #006699;
 margin: 0px;
 padding: 0px;
}

h3{
 font: bold 100% Arial,sans-serif;
 color: #334d55;
 margin: 0px;
 padding: 0px;
}

h4{
 font: 100% Arial,sans-serif;
 color: #333333;
 margin: 0px;
 padding: 0px;
}

h5{
 font: 100% Arial,sans-serif;
 color: #334d55;
 margin: 0px;
 padding: 0px;
}


/*************** list tag styles ***************/

ul{
 list-style-type: square;
}

ul ul{
 list-style-type: disc;
}

ul ul ul{
 list-style-type: none;
}

/********* form and related tag styles *********/

				

#tr {
	position:absolute;
	top: -1px;
	right: -1px;
	margin: 0px;
	padding: 0px;
	z-index: 100;
}
#topbar {
	position:absolute;
	left:200px;
	top:2px;
	width:980px;
	height:22px;
	 
}
#menulogo {
	position: absolute;
	left:200px;
	top:14px;
	width:980px;
	height:119px;
		 
}
#logo{
	position: absolute;
	left:0px;
	top:6px;
	width:400px;
	height:100px;
	background-color: #330000;		 
}
#menudiv {
	position: absolute;
	left:398px;
	top:6px;
	width:580px;
	height:100px;
	background-image: url(file:///C|/Users/NAS/Desktop/awebproperties.com/image/images/menuBG2.JPG);
		 
}
#menubar {
	position: absolute;
	left:25px;
	top:50px;
	width:520px;
	height:20px;
		 
}
#notemarc {
	position: absolute;
	left:200px;
	top:117px;
	width:980px;
	height:34px;
	background-color: #CAFFCA;
}
marquee{
	font-family: Verdana, sans-serif;
	color:  #005FA9;
	height: auto;
	width: auto;
	}

#slide {
	position: absolute;
	left:200px;
	top:172px;
	width:980px;
	height:357px;
	background-color: #EAFFEA;	 
}
#slidediv{
position: absolute;
	left:200px;
	top:150px;
	width:980px;
	height:360px;
	background-color: #EAFFEA;
}
#contslide {
	position: absolute;
	left:201px;
	top:143px;
	width:980px;
	height:653px;
	background-color: #EAFFEA;	 
}
#developslide{
	position: absolute;
	left:200px;
	top:145px;
	width:980px;
	height:689px;
	background-color: #EAFFEA;	
}
#hsunitslide{
	position: absolute;
	left:200px;
	top:145px;
	width:980px;
	height:953px;
	background-color: #EAFFEA;	
	}
#landslide{
	position: absolute;
	left:200px;
	top:145px;
	width:980px;
	height:2575px;
	background-color: #EAFFEA;	
}
#vision {
	position: absolute;
	left:200px;
	top:554px;
	width:980px;
	height:140px;
	background-color: #EAFFEA;
}	
#mision {
	position: absolute;
	left:200px;
	top:695px;
	width:980px;
	height:150px;
	background-color: #EAFFEA;	 
}	
#footerindex {
	position:absolute;
	left:200px;
	top:846px;
	width:980px;
	height:199px;
}

#footerdevelfeatures {
	position:absolute;
	left:200px;
	top:836px;
	width:980px;
	height:203px;
}
#footerhseunit {
	position:absolute;
	left:200px;
	top:1100px;
	width:980px;
	height:129px;
}
#footerland {
	position:absolute;
	left:200px;
	top:2721px;
	width:980px;
	height:215px;
	background-color: #EAFFEA;
}
#footercontactus {
	position:absolute;
	left:200px;
	top:797px;
	width:980px;
	height:215px;
	background-color: #EAFFEA;
}
#copyrightindex {
	position: absolute;
	left:200px;
	top:1039px;
	width:980px;
	height:40px;
	background-image: url(file:///C|/Users/NAS/Desktop/awebproperties.com/image/images/menuBG.jpg);
	text-align: center;
	text-decoration: none;
	font-size: 12px;
	font-weight: lighter;
	color: #660000;
	font-style: oblique;
	letter-spacing: 4px;
}
#copyrightdevelfeatures{
	position: absolute;
	left:200px;
	top:1039px;
	width:980px;
	height:40px;
	background-image: url(file:///C|/Users/NAS/Desktop/awebproperties.com/image/images/menuBG.jpg);
	text-align: center;
	text-decoration: blink;
	font-size: 12px;
	letter-spacing: 4px;
}
#copyrighthseunit {
	position: absolute;
	left:196px;
	top:1306px;
	width:980px;
	height:40px;
	background-image: url(file:///C|/Users/NAS/Desktop/awebproperties.com/image/images/menuBG.jpg);
	text-align: center;
	text-decoration: blink;
	font-size: 12px;
	font-style: oblique;
	letter-spacing: 4px;
}
#copyrightland {
	position: absolute;
	left:200px;
	top:2938px;
	width:980px;
	height:40px;
	background-image: url(file:///C|/Users/NAS/Desktop/awebproperties.com/image/images/menuBG.jpg);
	text-align: center;
	text-decoration: blink;
	font-size: 12px;
	font-weight: lighter;
	font-style: oblique;
	letter-spacing: 4px;
}
#copyrightcontactus {
	position: absolute;
	left:200px;
	top:1012px;
	width:980px;
	height:40px;
	background-image: url(file:///C|/Users/NAS/Desktop/awebproperties.com/image/images/menuBG.jpg);
	text-align: center;
	text-decoration: blink;
	font-size: 12px;
	font-weight: lighter;
	font-style: oblique;
	letter-spacing: 4px;
}
