/* CSS Document */

p{
font-family: Times New Roman, Times, serif;
font-size: 14px;
color: #000000;
line-height: 18px;
padding: 3px;
}
.bold {
	font-family: Times New Roman, Times, serif;
	font-size: 18px;
	line-height: 25px;
	font-weight: 200;
	color: #333333;
}
.nnavigation {
	font-family: Verdana, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: lighter;
	color:  #333333;
	text-decoration: none;
	background-color: #CAFFCA;
	display: inline;
	padding: 8px;
	width: 140px;
	float: none;
	background-image: url(file:///C|/Users/NAS/Desktop/awebproperties.com/image/images/menuBG.jpg);
}
.nnavigation :hover {
	font-family: Verdana, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	color:  #FFFFFF;
	text-decoration: none;
	background-color: #D03D03;
	display: block;
	padding: 8px;
	width: 140px;
}






/******* hyperlink and anchor tag styles *******/

a:link, a:visited{
	color: #005FA9;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

/************** header tag styles **************/

h1{
 font: bold 120% Arial,sans-serif;
 color: #334d55;
 margin: 0px;
 padding: 0px;
}

h2{
 font: bold 114% Arial,sans-serif;
 color: #006699;
 margin: 0px;
 padding: 0px;
}

h3{
 font: bold 100% Arial,sans-serif;
 color: #334d55;
 margin: 0px;
 padding: 0px;
}

h4{
 font: 100% Arial,sans-serif;
 color: #333333;
 margin: 0px;
 padding: 0px;
}

h5{
 font: 100% Arial,sans-serif;
 color: #334d55;
 margin: 0px;
 padding: 0px;
}


/*************** list tag styles ***************/

ul{
 list-style-type: square;
}

ul ul{
 list-style-type: disc;
}

ul ul ul{
 list-style-type: none;
}

/********* form and related tag styles *********/

				

#tr {
	position:absolute;
	top: -1px;
	right: -1px;
	margin: 0px;
	padding: 0px;
	z-index: 100;
}
#globalNav{
position: relative;
width: 100%;
min-width: 640px;
height: 32px;
color: #cccccc;
padding: 0px;
margin: 0px;
}

#globalNav img{
	margin-bottom: -4px;
 
}

#gnl {
	position: absolute;
	top: 0px;
	left:0px;
}

#gnr {
	position: absolute;
	top: 0px;
	right:0px;
}

#globalLink{
	position: absolute;
	top: 6px;
	height: 22px;
	min-width: 640px;
	padding: 0px;
	margin: 0px;
	left: 10px;
	z-index: 100;
}


a.glink, a.glink:visited{
  	font-size: small;
  	color: #000000;
	font-weight: bold;
	margin: 0px;
	padding: 2px 5px 4px 5px;
	border-right: 1px solid #8FB8BC;
}

a.glink:hover{
  	background-image: url(glblnav_selected.gif);
	text-decoration: none;
}

.skipLinks {display: none;}

/************ subglobalNav styles **************/

.subglobalNav{
	position: absolute;
	top: 84px;
	left: 0px;
	/*width: 100%;*/
	min-width: 640px;
	height: 20px;
	padding: 0px 0px 0px 10px;
	visibility: hidden;
	color: #ffffff;
}

.subglobalNav a:link, .subglobalNav a:visited {
	font-size: 80%;
	color: #ffffff;
}

.subglobalNav a:hover{
	color: #cccccc;
}





#topbar {
	position:absolute;
	left:200px;
	top:2px;
	width:980px;
	height:22px;
	 
}
#menulogo {
	position: absolute;
	left:200px;
	top:14px;
	width:980px;
	height:119px;
		 
}
#logo{
	position: absolute;
	left:0px;
	top:6px;
	width:400px;
	height:100px;
	background-color: #330000;		 
}
#menudiv {
	position: absolute;
	left:398px;
	top:6px;
	width:580px;
	height:100px;
	background-image: url(file:///C|/Users/NAS/Desktop/awebproperties.com/image/images/menuBG2.JPG);
		 
}
#menubar {
	position: absolute;
	left:25px;
	top:50px;
	width:520px;
	height:20px;
		 
}
#notemarc {
	position: absolute;
	left:200px;
	top:117px;
	width:980px;
	height:34px;
	background-color: #CAFFCA;
}
#slide {
	position: absolute;
	left:200;
	top:172px;
	width:980px;
	height:357px;
	background-color: #EAFFEA;	 
}
#slidediv{
position: absolute;
	left:200px;
	top:150px;
	width:980px;
	height:360;
	background-color: #EAFFEA;
}
#cont {
	position: absolute;
	left:200;
	top:172px;
	width:980px;
	height:357px;
	background-color: #EAFFEA;	 
}
#vision {
	position: absolute;
	left:200px;
	top:556;
	width:980px;
	height:137;
	background-color: #EAFFEA;
}	
#mision {
	position: absolute;
	left:200px;
	top:695px;
	width:980px;
	height:140px;
	background-color: #EAFFEA;	 
}	
#footer {
	position:absolute;
	left:200px;
	top:836px;
	width:980px;
	height:129px;
}
#copyright {
	position: absolute;
	left:198px;
	top:1041px;
	width:980px;
	height:30;
	background-image: url(file:///C|/Users/NAS/Desktop/awebproperties.com/image/images/menuBG.jpg);
}
